
*.json
!*Template*.json

#output
turbSpec/
turbSpec_*
plot_*


#ide
.DS_Store
TD-Qvec-post-process.xcodeproj/project.xcworkspace/xcuserdata/
td_qvec_post_process.xcodeproj/xcshareddata/





#cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

#exe
a.out
td_post_process_V4
q4_pp_V3
td_Qvec_post_process
